
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Portfolio Alerts -->

<div class="box" *ngIf="stockBoughtAlert">
  <div class="container col-lg-10 alert alert-success alert-dismissible fade show" role="alert" style="text-align: center;">
    {{this.selectedTicker}} bought successfully.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<div class="box" *ngIf="stockSoldAlert">
  <div class="container col-lg-10 alert alert-danger alert-dismissible fade show" role="alert" style="text-align: center;">
    {{this.selectedTicker}} sold successfully.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<div class="container col-lg-10" style="font-size: 30px; margin-top: 40px; margin-bottom: 20px;">
  My Portfolio
</div>

<!-- spinner -->
<div *ngIf="isBalanceLoading || isPortfolioLoading" style="margin-top: 100px;">
  <div class="d-flex justify-content-center">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</div>

<div *ngIf="!isBalanceLoading && !isPortfolioLoading">

  <div class="container col-lg-10" style="font-size: 20px; margin-bottom: 20px;">
    Money in Wallet: {{ '$' }}{{this.searchService.cashBalance | number:'1.2-2'}}
  </div>


  <!-- Empty Alert -->
  <div class="box" *ngIf="this.portfolioEmptyAlert">
    <div class="alert alert-warning container col-lg-10" role="alert" style="text-align: center; margin-top: 50px;">
        Currently you don't have any stock.
    </div>
  </div>

  <div class="box" *ngFor="let item of this.completeArray">
    <div class="card container col-lg-10" >
      <div class="card-header" style="font-weight: bold;">
        {{item.ticker  }}      
        <span style="color: #808080;">{{item.company_name}}</span>
      </div>
      <div class="card-body">

        <div class="row">

          <div class="col col-lg-6 col-12">
            <table class="table no-border">
              <tbody>
                  <tr>
                      <th scope="row">Quantity: </th>
                      <th> {{item.quantity | number:'1.2-2'}}</th>
                  </tr>
                  <tr>
                      <th scope="row">Avg.Cost/ Share: </th>
                      <th> {{item.average_cost_share | number:'1.2-2'}} </th>
                  </tr>
                  <tr>
                      <th scope="row">Total Cost: </th>
                      <th>{{item.total_cost | number:'1.2-2'}}</th>
                  </tr>
              </tbody>
            </table>
        </div>

        <div class="col col-lg-6 col-12">
          <table class="table no-border">
            <tbody>
                <tr>
                    <th scope="row">Change: </th>
                    <th [ngStyle]="{'color': (item.change > 0) ? '#008000' : (item.change < 0) ? '#FF0000' : '#000000'}"> 
                      <i *ngIf="item.change > 0" class="bi bi-caret-up-fill" style="color: #198754;"></i>
                      <i *ngIf="item.change < 0" class="bi bi-caret-down-fill" style="color: #dc3545;"></i>
                      {{item.change | number:'1.2-2'}}
                    </th>
                </tr>
                <tr>
                    <th scope="row">Current Price: </th>
                    <th [ngStyle]="{'color': (item.change > 0) ? '#008000' : (item.change < 0) ? '#FF0000' : '#000000'}">
                        {{item.current_price | number:'1.2-2'}} 
                    </th>
                </tr>
                <tr>
                    <th scope="row">Market Value: </th>
                    <th [ngStyle]="{'color': (item.change > 0) ? '#008000' : (item.change < 0) ? '#FF0000' : '#000000'}">
                      {{item.market_value | number:'1.2-2'}}
                    </th>
                </tr>
            </tbody>
          </table>
        </div> 


          <!-- <div class="col col-lg-6 col-12">
            <p class="card-text">quantity: {{item.quantity}}</p>
            <p class="card-text">Avg.Cost/ Share: {{item.average_cost_share | number:'1.2-2'}}</p>
            <p class="card-text">Total Cost: {{item.total_cost | number:'1.2-2'}}</p>
          </div>

          <div class="col col-lg-6 col-12" [ngStyle]="{'color': (item.change > 0) ? '#008000' : (item.change < 0) ? '#FF0000' : '#000000'}">
            <p class="card-text">
              Change:
              <i *ngIf="item.change > 0" class="bi bi-caret-up-fill" style="color: #198754;"></i>
              <i *ngIf="item.change < 0" class="bi bi-caret-down-fill" style="color: #dc3545;"></i>
               {{item.change | number:'1.2-2'}}
            </p>
            <p class="card-text">Current Price: {{item.current_price | number:'1.2-2'}}</p>
            <p class="card-text">Market Value: {{item.market_value | number:'1.2-2'}}</p>
          </div> -->

        </div>
        
      </div>
      <div class="card-footer text-muted">
          <div style="display: inline-block; margin-right: 10px;"><a class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#buyModal" (click)="this.selectedItem = item ;this.buyStock(this.selectedItem)">Buy</a></div>
          <div style="display: inline-block"><a class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#sellModal" (click)="this.selectedItem = item; this.sellStock(this.selectedItem)">Sell</a></div>
      </div>
    </div>
  </div>


</div>

  <!-- Buy Modal -->
  <div #buyModal class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" [formGroup]="buyForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">  {{this.selectedTicker}}</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Current Price: {{this.selectedCurPrice | number:'1.2-2'}}</p> 
          <p>Money in Wallet: ${{ this.searchService.cashBalance | number:'1.2-2'}} </p>
          <div class="d-flex align-items-center mb-3">
            <p>Quantity: </p>
            <mat-form-field appearance="outline" class="flex-grow-1" style="margin-left: 5px;">
              <input
                type="number"
                class="form-control"
                matInput
                name="value"
                formControlName="value">
            </mat-form-field>
          </div>
          
        </div>
        <div style="color:red ;margin-left: 20px;" *ngIf="showBuyError">Not enough money in wallet!</div>
        <div class="modal-footer" style="display: flex; justify-content: space-between;">
          <div>Total: {{this.totalCostToBuy | number:'1.2-2'}}</div>
          <div><button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="finalBuy(this.selectedItem)" [disabled]="this.hideBuyButton">Buy</button></div>
        </div>
      </div>
    </div>
  </div>

   <!-- Sell Modal -->
  <div #sellModal class="modal fade" id="sellModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" [formGroup]="sellForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">  {{this.selectedTicker}}</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Current Price: {{this.selectedCurPrice | number:'1.2-2'}}</p> 
          <p>Money in Wallet: ${{ this.searchService.cashBalance | number:'1.2-2' }} </p>
          <div class="d-flex align-items-center mb-3">
            <p>Quantity: </p>
            <mat-form-field appearance="outline" class="flex-grow-1" style="margin-left: 5px;">
              <input
                type="number"
                class="form-control"
                matInput
                name="value"
                formControlName="value">
            </mat-form-field>
          </div>
          
        </div>
        <div style="color:red; margin-left: 20px;" *ngIf="showSellError">You cannot sell the stocks that you don't have!</div>
        <div class="modal-footer" style="display: flex; justify-content: space-between;">
          <div>Total: {{this.totalCostToSell | number:'1.2-2'}}</div>
          <div><button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="finalSell(this.selectedItem)" [disabled]="this.hideSellButton">Sell</button></div>
        </div>
      </div>
    </div>
  </div>
 


  