<h1> My Watchlist </h1>

<div class="box" *ngIf="this.watchlistEmptyAlert">
  <div class="alert alert-warning container col-lg-10" role="alert" style="text-align: center; margin-top: 50px;">
      Currently you don't have any stock in your watchlist.
  </div>
</div>

<!-- spinner -->
<div *ngIf="isWatchlistLoading">
    <div class="d-flex justify-content-center">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  </div>

<div *ngIf="!isWatchlistLoading">
    <div class="alert alert-light alert-dismissible" *ngFor="let item of watchlistList" (click)="searchClickedTicker(item.tickerSymbol)" style="cursor: pointer;">
        <button class="btn-close" type="button" data-bs-dismiss="alert" (click)="removeFromWatchlist(item.tickerSymbol); $event.stopPropagation();"></button>
        <p>watchlist item 1: {{item.tickerSymbol}} and {{item.companyName}}</p>
    </div>

</div>


